In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("C:/Users/chamo/Documents/Linear Regression.csv")

In [3]:
data

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [6]:
X = data['X'].values
Y = data['Y'].values



n = len(X)

sumx= 0
sumx2= 0
sumy= 0
sumxy=0

for i in range(n):
    sumx= sumx+X[i]
    sumy= sumy+Y[i]
    sumx2= sumx2+(X[i]*X[i])
    sumxy= sumxy+(X[i]* Y[i])

b= (n * sumxy - (sumx * sumy))/((n*sumx2) - (sumx * sumx))
a= ((sumy* sumx2)-(sumx*sumxy))/((n*sumx2) - (sumx * sumx))
    
# a is intercept
# b is slope or regression coefficient
#printing the coefficient
print(a,b)

5.888799701613167 0.6400448894359697

In [11]:
print(f" f(x) = {b} X + {a}")

 f(x) = 0.6400448894359697 X + 5.888799701613167